* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    background: #0f0f0f;
    color: #d6c7a1;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at top, #2a2a2a, #0b0b0b);
    background-image: url(./image-1.webp);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* NAV */
.nav {
    position: absolute;
    top: 30px;
    left: 60px;
    display: flex;
    gap: 30px;
}

.nav a {
    color: #cbb98b;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
}

/* CENTER TEXT */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-content h1 {
    font-size: 72px;
    letter-spacing: 8px;
    font-weight: 400;
}

.hero-content .sub {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 4px;
}

.hero-content p {
    margin-top: 20px;
    font-size: 16px;
    color: #bfbfbf;
    font-style: italic;
}

/* LEFT IMAGE */
.left-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 70%;
    background: url("car.png") no-repeat left bottom;
    background-size: contain;
}

/* RIGHT IMAGE */
.right-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 65%;
    background: url("parts.png") no-repeat right bottom;
    background-size: contain;

}

/* =====================
   RESPONSIVE DESIGN
===================== */

/* TABLET */
@media (max-width: 1024px) {
    .nav {
        left: 30px;
        gap: 20px;
    }

    .hero-content h1 {
        font-size: 56px;
        letter-spacing: 6px;
    }

    .left-image {
        width: 45%;
        height: 60%;
    }

    .right-image {
        width: 50%;
        height: 55%;
    }
}

/* MOBILE */
@media (max-width: 768px) {

    .hero {
        height: 100svh;
    }

    /* NAV */
    .nav {
        position: static;
        justify-content: center;
        padding-top: 20px;
    }

    .nav a {
        font-size: 13px;
    }

    /* CENTER TEXT */
    .hero-content {
        width: 90%;
    }

    .hero-content h1 {
        font-size: 42px;
        letter-spacing: 4px;
    }

    .hero-content .sub {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .hero-content p {
        font-size: 14px;
    }

    /* IMAGES */
    .left-image,
    .right-image {
        width: 100%;
        height: 35%;
        opacity: 0.9;
    }

    .left-image {
        left: -20%;
    }

    .right-image {
        right: -20%;
    }
}

/* SMALL MOBILE */
@media (max-width: 480px) {

    .hero-content h1 {
        font-size: 34px;
        letter-spacing: 3px;
    }

    .hero-content p {
        font-size: 13px;
    }

    /* hide images for very small screens */
    .left-image,
    .right-image {
        display: none;
    }
}
